project_report.html linguist-detectable=false linguist-documentation=true linguist-vendored=true linguist-generated=true
docs/screenshots/* linguist-detectable=false
screenshots/* linguist-detectable=false
