# Database Configuration
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/smartretaildb

# JWT Security Configurations (min 256-bits / 32 characters)
APP_JWT_SECRET=YourSuperSecretKeyMustBeAtLeast32CharactersLongAndSecure!
APP_JWT_EXPIRATION=86400000

# Custom Inventory Threshold
APP_INVENTORY_LOW_STOCK_THRESHOLD=10

# Server port configuration
SERVER_PORT=8080
